<% include header %>
<script src="js/pages/index.js"></script>
<div class="padding">
    <div class="full col-sm-12">
        <!-- content -->
        <div id="error_area" class="row">

        </div>

        <div class="row">
            <!-- main col left -->
            <div class="col-sm-9">


                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Who we are?</h4></div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum efficitur posuere.
                        Cras a mi eu mi ornare mollis. Donec venenatis quis urna sit amet sagittis. Sed sed ullamcorper
                        mi. Proin auctor, nisi sed pulvinar tempor, nunc turpis bibendum sapien, eu rhoncus dui nulla in
                        tellus. Morbi bibendum tellus in hendrerit mattis. Maecenas vel urna et neque maximus pretium at
                        vitae ex. Phasellus suscipit luctus turpis, ornare finibus justo mattis ut.
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><h4>About</h4></div>
                    <div class="panel-body">
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Morbi tortor enim, tincidunt in tortor ut, egestas malesuada risus. Morbi eget finibus risus.
                        Maecenas sed est enim. Sed non pharetra neque, sit amet tincidunt nisl. Etiam a ultricies lacus.
                        Integer congue dignissim lorem, ut tincidunt dolor condimentum at. Phasellus auctor quam eu
                        lectus commodo, vel viverra ipsum volutpat. Vivamus nec posuere ipsum, ac maximus odio. Donec
                        venenatis mollis tortor, a elementum orci tempus quis. Duis in odio sed ipsum sodales fermentum
                        dictum non metus. Fusce eu urna nec enim pulvinar fermentum non condimentum ante. Pellentesque
                        quis ullamcorper purus, sollicitudin condimentum est.
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><h4>FAQ</h4></div>
                    <div class="panel-body">
                        Etiam hendrerit ornare dui, sit amet malesuada arcu viverra quis. Curabitur pretium tincidunt
                        leo, eget ultrices nibh ultricies in. Integer vitae sapien nisl. Nunc fringilla efficitur purus
                        ut accumsan. Morbi eget ante arcu. Sed vitae ultricies lacus. Sed ultricies elementum fringilla.
                        Donec quis hendrerit massa.
                    </div>
                </div>


            </div>

            <!-- main col right -->
            <div class="col-sm-3">

                <div class="well">
                    <form class="form" id="sign_up">
                        <h4>Sign-up</h4>

                        <div class="input-group">
                            <div class="form-group">
                                <label for="input_username">Username</label>
                                <input type="text" class="form-control" id="input_username" placeholder="Enter username"
                                       required aria-required="true"
                                       maxlength="32">
                            </div>
                            <div class="form-group">
                                <label for="input_password">Password</label>
                                <input type="password" class="form-control" id="input_password"
                                       required aria-required="true">
                            </div>
                            <div class="form-group">
                                <label for="input_name">Name</label>
                                <input type="text" class="form-control" id="input_name" placeholder="Enter full name"
                                       required aria-required="true"
                                       name="32">
                            </div>
                            <div class="form-group">
                                <label for="input_birthday">Birthday</label>
                                <input type="date" class="form-control" id="input_birthday"
                                       required aria-required="true">
                            </div>
                            <div class="form-group">
                                <label for="input_sex">Sex</label>
                                <select class="form-control" id="input_sex"
                                        required aria-required="true">
                                    <option value="1">Male</option>
                                    <option value="0">Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="input_location">Location</label>
                                <input type="text" class="form-control" id="input_location"
                                       required aria-required="true" placeholder="Enter location"
                                       maxlength="64">
                            </div>
                            <div class="form-group">
                                <label for="input_horoscope">Horoscope</label>
                                <select class="form-control" id="input_horoscope"
                                        required aria-required="true">
                                    <option value="0">Aries</option>
                                    <option value="1">Taurus</option>
                                    <option value="2">Gemini</option>
                                    <option value="3">Cancer</option>
                                    <option value="4">Leo</option>
                                    <option value="5">Virgo</option>
                                    <option value="6">Libra</option>
                                    <option value="7">Scorpio</option>
                                    <option value="8">Sagittarius</option>
                                    <option value="9">Capricorn</option>
                                    <option value="10">Aquarius</option>
                                    <option value="11">Pisces</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="input_religion">Religion</label>
                                <select class="form-control" id="input_religion"
                                        required aria-required="true">
                                    <option value="0">Judaism</option>
                                    <option value="1">Islamism</option>
                                    <option value="2">Christianity</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="input_politics">Politics</label>
                                <input type="text" class="form-control" id="input_politics"
                                       required aria-required="true" placeholder="Enter politics"
                                       maxlength="32">
                            </div>
                            <div class="form-group">
                                <label for="input_about">About</label>
                                                <textarea class="form-control" id="input_about"
                                                          required aria-required="true" placeholder="..."
                                                          maxlength="255"></textarea>
                            </div>

                            <div id="sign_up_success" class="form-group">

                            </div>

                            <button id="ok_button" class="btn btn-primary" type="submit" data-loading-text="..."
                                    autocomplete="off">OK
                            </button>

                        </div>
                    </form>
                </div>


            </div>
        </div>
        <% include footer %>
